#containerSlideUp{
    animation: slideUp 0.8s;
}

@keyframes slideUp {
    from { opacity: 0; transform: translateY(+10%);}
    to   { opacity: 1; transform: translateY(0);}
}

#containerSlideDown{
    animation: slidedown 0.8s;
}

@keyframes slidedown {
    from { opacity: 0; transform: translateY(-10%);}
    to   { opacity: 1; transform: translateY(0);}
}

.sortSelection{
    width : 95%;
    max-width: 1000px;
    margin: auto;

    font-weight: bold;

    margin-top: -10px;
    margin-bottom: 8px;

    display: flex;
    align-items: baseline;
}

.sortSelection div{
    margin-right: 10px;

    transition: all 0.4s;
}

.sortSelection div:hover{
    color:#A5D1FC;
}

/* BoardNew */
.editorElements{
    width : 95%;
    max-width: 1000px;
    height : 40px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editorTitle{
    width: 400px;
    height: 30px;
    font-size: 20px;

    border-top: none;
    border-left: none;
    border-right: none;

    margin-right: 10px;
}

.editorSelects{
    height: 30px;
    font-size: 14px;

    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 5px;
}

.sortPosition{
    display: flex;
    align-items: center;
}

@media screen and (max-width:700px) {
    .sortSelection{
        margin-bottom: 15px;
    }
}