#containerSlideUp{
    animation: slideUp 0.8s;
}

@keyframes slideUp {
    from { opacity: 0; transform: translateY(+10%);}
    to   { opacity: 1; transform: translateY(0);}
}

#containerSlideDown{
    animation: slidedown 0.8s;
}

@keyframes slidedown {
    from { opacity: 0; transform: translateY(-10%);}
    to   { opacity: 1; transform: translateY(0);}
}


.writeButtonPositon{
    width : 95%;
    height : 40px;
    margin : auto;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;

    max-width: 800px;
}

.noticeButton{
    min-width: 80px;
    min-height: 25px;
}


/* BoardNew */
.editorElements{
    max-width: 800px;
    height : 40px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editorTitle{
    width: 400px;
    height: 30px;
    font-size: 20px;

    border-top: none;
    border-left: none;
    border-right: none;
}

.editorSelects{
    height: 30px;
    font-size: 14px;

    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 5px;
}