.contact_head{
    text-align: left;
    font-size: 300%;
    margin-left:6%;
}
.contactForm{
    display:inline-block; 
    padding-left:100px;
    padding-right : 100px;
}

.contactForm input {
    width:300px;
    /* margin-top: 10px; */
    border:none; /*텍스트 상자 안보이게 하기 */
}
input:focus{
    outline: none;
}
#contactLine{
    width : 180px;
    text-align : left;
    margin : 0px;
    height : 1px;
    background-color: black;
    display:inline-block;
    padding-left:70%;
}
.contactSend{
    font-size:15px;
    margin-left:6%;

}