.contactForm{
    display:block; 
}

.contactName {
    font-size: 20px;
    display: inline-block;
    margin-left: 8%;
    margin-right: 8%;
}

.smallForm{
    width: 500px;
    height: 30px;
    border:none; 
}

.smallForm2{
    width:435px;
    height:30px;
    border:none; 
}

.textForm{
    margin-left: 8%;
    margin-right: 8%;
    width: 1273px;
    height: 300px;
    resize: none;
    font-size: 15px;
    font-family: sans-serif;
    border: none;
}

.contactForm input:focus, .textForm:focus{
    outline: none;
}

#contactLine {
    margin-left: 8%;
    margin-right : 8%;
    /* width: 90%; */
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #2c2c2c;
}

#contactLine2 {
    margin-left: 8%;
    margin-right : 8%;

    /* width: 90%; */
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #2c2c2c;
}

.contactSend{
    border-radius: 100px;
    display :block;
    margin : auto;
    width : 180px;
    height : 60px;
    font-size : 25px;
    color : white;
    border: none;
    background-color: #6e96ec;
}

.contactBox input{
    margin-left : 8%;
}
#contactLink{
    text-underline-position: under;
    text-decoration: underline;
}

.recaptcha{
    margin-left:7%;
    margin-right:8%;
    border: 0px solid #e3e3e3;
}

/*모바일 세로 구현*/
@media screen and (max-width:599px) {
    .contactName{
        margin-left: 0px;
        margin-bottom: 5px;
        font-size: 15px;
    }
    .smallForm{
        width: 300px;
        height: 30px;
    }
    .smallForm2{
        width:300px;
        height:30px;
    }

    .textForm{
        margin-left: 0px;
        margin-right: 0px;
        width: 300px;
        height: 300px;
    }

    #contactLine{
        margin-left: 0px;
        width: 100%;
    }
    
    #contactLine2{
        margin-left:0%;
        /* border: 0;
        height: 0; */
        width : 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid #2c2c2c;
    }

    .contactSend{
        width : 120px;
        height : 50px;
        font-size : 20px;
    }

    .contactCenter {
        margin : auto;
    }
    .contactBox input{
        font-size:1px;
        margin-left :0%;
    }
    #contactLink{
        font-size:15px;
        text-underline-position: under;
        text-decoration: underline;
    }
    #contactagree{
        font-size:15px;
    }
    .recaptcha{
        margin-left:-5%;
        /* margin-right:-1%; */
        border:0px solid #e3e3e3;
    }
}


