.faq{
    list-style: none;
}

.faqDetails > summary{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    list-style-image: url("assets/flower_open.png");
}

.faqDetails p{
    display: block;
    font-size:15px;
    padding : 20px;
    padding-left : 30px;
    background-color :aliceblue ;
}
