.homeContainer{
    height: 100vh;

    display : flex;
    justify-content : center;
    align-items : center;
}

#home {
    display : flex;
    justify-content : center;
    align-items : center;
}

.clickStore{
    position: absolute;
    top: 110px;
	right: 30px;
    height: 70px;
}


/* 빅데스크탑 */
.mainSsua1{
    width: 15vw;
    animation: fadein 3s;
}

.mainSsua2{
    width: 15vw;
    padding-top: 8vw;
    animation: fadein 3s;
}

.mainSsua3{
    width: 15vw;
    animation: fadein 3s;
}

@media screen and (max-width:899px) {
    /* 모바일 가로, 타블렛 세로 */
    .mainSsua1{
        width: 25vw;
    }
    
    .mainSsua2{
        width: 25vw;
        padding-top: 10vw;
    }
    
    .mainSsua3{
        width: 25vw;
    }
}

@media screen and (max-width:599px) {
        /* 모바일 세로 */
        .mainSsua1{
            width: 28vmin;
        }
        
        .mainSsua2{
            width: 28vmin;
            padding-top: 15vw;
        }
        
        .mainSsua3{
            width: 28vmin;
        }
        .clickStore{
            top: 80px;
            right: 30px;
            height: 40px;
        }
}

@media screen and (max-width:299px) {
    /* 모바일 세로 */
    .mainSsua1{
        width: 25vmin;
    }
    
    .mainSsua2{
        width: 25vmin;
        padding-top: 13vw;
    }
    
    .mainSsua3{
        width: 25vmin;
    }
    .clickStore{
        top: 80px;
        right: 30px;
        height: 40px;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}