#home {
    text-align: center;
}

.couponTag{
    position: fixed;
    cursor: pointer;
    z-index: 5;
    width: 130px;
    right: 0%;
    transition: all 0.5s;
}

/* 빅데스크탑 */
.mainSsua1{
    width: 300px;
    position: relative;
    bottom: 20px;

    animation: fadein 3s;
}

.mainSsua2{
    width: 300px;
    position: relative;
    top : 40px;

    animation: fadein 3s;
}

.mainSsua3{
    width: 300px;
    position: relative;
    bottom: 20px;
    
    animation: fadein 3s;
}

@media screen and (max-width:1799px){
    /* 데스크탑(기준)*/
    .mainSsua1{
        width: 200px;
        position: relative;
        bottom: 20px;
    }
    
    .mainSsua2{
        width: 200px;
        position: relative;
        top : 40px;
    }
    
    .mainSsua3{
        width: 200px;
        position: relative;
        bottom: 20px;
    }
}

@media screen and (max-width:1199px){
    /* 타블렛 가로 */
    .mainSsua1{
        width: 200px;
        position: relative;
        bottom: 20px;
    }
    
    .mainSsua2{
        width: 200px;
        position: relative;
        top : 40px;
    }
    
    .mainSsua3{
        width: 200px;
        position: relative;
        bottom: 20px;
    }
}

@media screen and (max-width:899px) {
    /* 모바일 가로, 타블렛 세로 */
    .mainSsua1{
        width: 170px;
        position: relative;
        bottom: 20px;
    }
    
    .mainSsua2{
        width: 170px;
        position: relative;
        top : 40px;
    }
    
    .mainSsua3{
        width: 170px;
        position: relative;
        bottom: 20px;
    }
}

@media screen and (max-width:599px) {
        /* 모바일 세로 */
        .mainSsua1{
            width: 115px;
            position: relative;
            bottom: 20px;
        }
        
        .mainSsua2{
            width: 115px;
            position: relative;
            top : 40px;
        }
        
        .mainSsua3{
            width: 115px;
            position: relative;
            bottom: 20px;
        }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}