.store_box, .store_set{
    width:380px;
    float : left;
    padding-left :20%;
    padding-right : 6%;
}
.store_goods{
    width:350px;
    float : left;
    padding-left: 10%;
    padding-right: 5%

}
.store_ssua2{
    width:350px;
    float:left;
    padding-right:3%;
}
#check_box{
    display:inline;

}
#store_buy{
    border-radius:8px;
    background-color : #369FFF;
    font-size: 20px;
    padding : 5px;
    width : 300px;
    text-decoration: none;
    border:0;
    outline:0;
}