/* box 페이지를 들어가면 나오는 박스 그림에 대한 css */
.store_box{
    width:400px;
    float : left;
    padding-left :20%;
    padding-right : 6%;
}
#check_box{
    display:inline;

}
#store_buy{
    border-radius:8px;
    background-color : #369FFF;
    font-size: 20px;
    padding : 5px;
    width : 300px;
    text-decoration: none;
    border:0;
    outline:0;
}