/* 완전 미완성 페이지 ..... */

/* store 페이지에 있는 3개의 상품에 대한 CSS입니다. */
.store_product{
    display:inline-block;
}
/* box 페이지를 들어가면 나오는 박스 그림에 대한 css */
.store_product_box{
    width:500px;
    /* display :inline-block;  */
    /* align : "left"; */
}
#store_comment{
    display: inline;
}