.PrivacyContent{
    margin-left:9%;
    font-weight:bold;
}

#Privacy{
    text-align: left !important; 
    margin-left:9% !important;
    font-size: 50px !important;
}

@media screen and (max-width:599px) {
.PrivacyContent{
    margin-left:2%;
    font-weight:bold;
    }
    #Privacy{
        margin-left:2% !important;
        font-size: 30px !important;
    }
}