.PrivacyContent{
    margin-left:9%;
    font-weight:bold;
}

h1{
    text-align: left !important; 
    margin-left:9%;
    font-size: 50px;
}

@media screen and (max-width:599px) {
.PrivacyContent{
    margin-left:2%;
    font-weight:bold;
    }
    h1{
        margin-left:2%;
        font-size: 30px;
    }
}