.floatingMenu{
    position:fixed;
	display:block;
	/*화면 전체에서 얼마나 떨어져서 floating*/
	bottom: 30px;
	right: 30px;
}

.fixSsuaIcon{
	/*슈아 크기*/
	width: 70px;
	cursor: pointer;
}

/*상세메뉴안보일때*/
.floatingDetailMenu{
	display: none;
}

/*클릭 후 상세메뉴 보일때*/
.openDetailMenu{
	visibility:visible;
	list-style:none;
	display :flex;
	flex-direction: column;
	padding-inline-start: 22px;
	margin-bottom: 3px;
	animation: scale-in 0.5s;	
}

#kakao,#insta,#mail{	
	cursor: pointer;
	margin-bottom: 5px;
}

@keyframes scale-in {
    from {transform: scale(0); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}
