#footer{
    padding: 30px 30px 30px 30px;

    background-color: #ffff;

    
    font-size: 14px;
    font-family: "Roboto Slab", Arial, sans-serif;
    color: #666666;
    font-weight: 110;
}

#footerLogo{
    width: 60px;
    height: 60px;
}

.certificationMark{
    width: 43px;
    height: 43px;
}

.teamNotion{
    width: 18px;
    height: 18px;
}