#footer{
    padding: 30px 30px 30px 30px;

    transition: all 0.5s;
    
    font-size: 14px;
    font-family: "Roboto Slab", Arial, sans-serif;
    font-weight: 110;

    /* border-style:solid; */
    border-width: 10px;
    border-color: #c5dffa;
    /* border-color: #A5D1FC; */
    color: #666666;
}

#footer a{
    color: #444444;
}

#footerLogo{
    width: 60px;
    height: 60px;
}

.certificationMark{
    width: 43px;
    height: 43px;
}

.teamNotion{
    width: 18px;
    height: 18px;
}