#header{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.Logos{
    display: flex;
    align-items: center;

    color: #ffff;
    font-size: 19px;
    word-spacing: 20px;
}

.storeMainLogo{
    position: relative;
    left: 130%; /*더 깔끔한 방법찾기*/
    width: 90px;
}

.logoFence{
    margin-left: 120px;
    margin-right: 10px;
}