#header{
    user-select: none;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.menu{
    float: left;
}

.Logos{
    display: flex;
    position: absolute;
    align-items: center;
    left: 50%;
    transform: translateX(-40%); /* 로고 중앙 맞추기 위해*/
    padding-top: 60px;
    /* transition: all 1.5s; */
}

.mainLogo{
    align-items: center;
    width: 170px;
}

/* #storeLogo{
    cursor: pointer;
} */

.storeLogo:hover{
    animation: rotate 5s infinite ease-out;
    transform-origin: 50% 50%;
}

@keyframes rotate{
	 100% {
    	transform: rotate(360deg);
    }
}

.helloSsunivs{
    position: absolute;
    cursor: pointer;
    z-index: 3;
    width: 150px;
    left: 375%;
    bottom: 40%;
}

.storeLogo {
    /* position: absolute;
    top: 30;
    right: 0; */
    position: absolute;
    top: 30px;
	right: 30px;
}

#storeLogoImage {
    height: 80px;
    cursor: pointer;
}

@media screen and (max-width:599px) {
    /*모바일세로크기*/
    .mainLogo{
        align-items: center;
        width: 130px;
    }
    .Logos{
        left: 50%;
        transform: translateX(-50%); /* 로고 중앙 맞추기 위해*/
        padding-top: 40px;
    }
    #storeLogoImage {
        height: 50px;
    }
}