.modalImg{
        position: absolute;
        border: 1px solid gray;
        background-color: #f0f8ff;
        z-index: 3;

        width: 520px;
        height: 300px;

        /* margin-top: 20px; */
        /* margin-left: 50px; */
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.couponImg{
        width: 520px;
        height: 300px;
}

.couponTag{
        position: fixed;
        cursor: pointer;
        /* width: 130px; */
        height: 70px;
        top: 200px;
        right: 0%;
        transition: all 0.5s;
}

@media screen and (max-width:599px) {
        /* 모바일 세로 */
        .couponTag{
                height: 50px;
                top: 300px;
        }
        .couponImg{
                width: 280px;
                height: 200px;
        }
        .modalImg{
                width: 280px;
                height: 200px;
        }
}