.modalImg{
        position: absolute;
        border: 1px solid gray;
        background-color: #f0f8ff;
        z-index: 3;
        width: 520px;
        height: 293px;
        margin-top: 50px;
        margin-left: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
