.hamburgerMenu{
    position: absolute;
}

.hamburgerIcon div{
    background-color: white;
    width: 30px;
    height: 4px;
    margin: 8px 0px;
    transition: all 0.5s;
}

.line1Actived{
    transform: rotate(-45deg) translate(-8px, 9px);
}

.line2Actived{
    opacity: 0;
}

.line3Actived{
    transform: rotate(45deg) translate(-8px, -9px);
}



.menuClosed{
    position: absolute;
    background-color: #04488C;
    transform: translateX(-200px);
    transition: transform 0.5s;
    width: 200px;
    z-index: 2;
}

.menuOpend{
    position: absolute;
    background-color: #04488C;
    transform: translateX(0px);
    transition: transform 0.5s ;
    width: 200px;
    z-index: 2;
}