.hamburgerIcon {
    position: absolute;
    cursor: pointer;

    z-index: 3;
    top: 50px;
}
.hamburgerIcon div{
    width: 30px;
    height: 4px;
    margin: 8px 0px;
    transition: all 0.5s;
}

.line1Actived{
    position: fixed;
    transform: rotate(-45deg) translate(-8px, 9px);
    /* transform: rotate(-45deg) translate(-8px, 9px); */
}

.line2Actived{
    position: fixed;
    opacity: 0;
}

.line3Actived{
    position: fixed;
    top: 74px;
    transform: rotate(45deg) translate(-8px, -9px);
    /* transform: rotate(45deg) translate(-8px, -9px); */
}



.menuClosed{
    position: absolute;
    transform: translateX(-500px);
    transition: transform 1.2s;
    
    z-index: 2;
    top: 0px;
    width: 300px;
    height: 100%;

    padding: 90px 0px 0px 0px;
}

.menuOpend{
    position: fixed;
    transform: translateX(-41px);
    transition: transform 0.8s;

    z-index: 2;
    top: 0px;
    width: 300px;
    height: 100%;

    padding: 90px 0px 0px 0px;
}

.menuList {
    font-family:'Segoe UI';
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    list-style:none;
    font-weight: bold;
    padding-left:35px;
    color: aliceblue;
    font-size: larger;
    /* font-weight: bold; */
}

.detailLists {
    list-style:none;
    font-weight:normal;
    color: aliceblue;
    padding-left:20px;
    font-size: 17px;
    /* font-weight: lighter; */
}

.list{
    color: aliceblue;
}

.search {
    font-family:'Segoe UI';
    color: aliceblue;
    padding-top: 20px;
    padding-left:35px;
    font-weight:normal;
}

.user {
    font-weight:normal;
    font-family:'Segoe UI';
    font-size: larger;
    list-style:none;
    padding-left: 30px; /*12 - margin기준*/

    display: flex;
}

/* LOG IN, MY PAGE, CART*/
.user .list{
    margin: 0px 6px;
}

@media screen and (max-width:1799px) {
    /*데스크탑기준*/
    .menuOpend{
        width: 400px;
    }

    .menuClosed{
        width: 400px;
    }
    
}

@media screen and (max-width:1199px){
    /* 타블렛 가로 */
    .menuOpend{
        width: 400px;
    }

    .menuClosed{
        width: 400px;
    }
}

@media screen and (max-width:899px) {
    /* 모바일 가로, 타블렛 세로 */
    .menuOpend{
        width: 400px;
    }

    .menuClosed{
        width: 400px;
    }
}

@media screen and (max-width:599px) {
    /* 모바일 세로 */
    .menuOpend{
        width: 300px;
    }

    .menuClosed{
        width: 300px;
    }
}