.socialIcons{
    padding-top: 10px;
    padding-bottom: 10px;

    transition: all 0.5s;
}

.icon{
    margin-right: 8px;

    transition: all 0.4s;
}

.icon:hover{
    transform: scale(1.3);
}

.iconsConnection{
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
}