#wrap{
    padding: 50px 40px 40px 40px;

    color: #2c2c2c;
    font-weight: 300;
    font-family: "Roboto Slab", Arial,'Noto Sans KR', sans-serif;

    transition: all 0.5s;
}

body::-webkit-scrollbar {
    width: 12px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%;
    background: #217af4; 
    /* 스크롤바의 색상#217af4  #04488C  #c5dffa 푸터하늘 aliceblue */ 
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);
    /* background: aliceblue; */
}


@media screen and (max-width:1199px){
    /* 타블렛 가로 */
}

@media screen and (max-width:899px) {
    /* 모바일 가로, 타블렛 세로 */
    /* #wrap{
        padding: 50px 40px 500px 40px;
    } */
    
}

@media screen and (max-width:599px) {
        /* 모바일 세로 */
        /* #wrap{
            padding: 50px 40px 500px 40px;
        } */
}

@media screen and (max-width:299px) {
    /* #wrap{
        padding: 50px 40px 300px 40px;
    } */
}