/* 코드 정리필요... */
.notice_table {
    width : 95%;
    max-width: 900px;
    height : 40px;
    margin : auto;

    border-collapse: collapse;
    text-align: center;
    border-bottom: 0.8px solid rgb(231, 231, 231);
}

.notice_table th{
    font-size: 16px;
    color: #04488C;
    
    border-collapse: collapse;
    border-bottom: 2px solid rgb(231, 231, 231);
}

.notice_table th:nth-child(-n+2){
    width: 90px;
}

.notice_table th:nth-child(n+4):nth-child(-n+5){
    width: 90px;
}

.noticeButton{
    min-width: 80px;
    min-height: 25px;

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
    border-bottom: 2px solid rgb(231, 231, 231);

    transition: all 0.4s;
}

.noticeButton:hover{
    letter-spacing: 0.8px;
    transform: scale(1);
    
    border-bottom: 2px solid #A5D1FC ;
}

.backToNoticeButton_positon{
    width : 95%;
    max-width: 900px;
    height : 40px;
    margin : auto;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* List */
.notice_listRow {
    width : 95%;
    max-width: 900px;
    height : 40px;
    margin : auto;

    border-collapse: collapse;
    text-align: center;
    border-bottom: 0.8px solid rgb(231, 231, 231);

    transition: all 0.4s;
}

.notice_listRow:hover{
    letter-spacing: 0.8px;
    transform: scale(1.05);

    height: 50px;
    background-color: #e3effe;
}

/* NoticePost */
#container{
    width : 95%;
    max-width: 900px;
    min-height: 400px;
    margin : auto;
}

.postInformation{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;
}

.postInformationDiv{
    border-bottom: 2px solid rgb(231, 231, 231) ;
}

#underContainer{
    width : 95%;
    max-width: 900px;
    min-height: 400px;
    margin : auto;
}

@media screen and (max-width:750px) {
    .notice_table th:nth-child(-n+2){
        width: 60px;
    }
    
    .notice_table th:nth-child(n+4):nth-child(-n+5){
        width: 60px;
    }
}

@media screen and (max-width:599px) {
    /* 모바일 세로 */
    .notice_table {
        font-size: 14px;
    }
}