/* 코드 정리필요... */
.notice_table {
    width : 95%;
    max-width: 1000px;
    height : 40px;
    margin : auto;

    border-collapse: collapse;
    text-align: center;
    border-bottom: 0.8px solid rgb(231, 231, 231);
}

.notice_table th{
    font-size: 16px;
    color: #04488C;
    
    border-bottom: 2px solid rgb(231, 231, 231);
}

.notice_table th:nth-child(-n+2){
    width: 90px;
}

.notice_table th:nth-child(n+4):nth-child(-n+5){
    width: 90px;
}

.noticeButton{
    min-width: 80px;
    min-height: 25px;

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
    border-bottom: 2px solid rgb(231, 231, 231);

    transition: all 0.4s;
}

.noticeButton:hover{
    letter-spacing: 0.8px;
    transform: scale(1);
    
    border-bottom: 2px solid #A5D1FC ;
}

.backToNoticeButton_positon{
    width : 95%;
    max-width: 1000px;
    height : 40px;
    margin : auto;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* List */
.notice_listRow {
    width : 95%;
    max-width: 1000px;
    height : 70px;
    margin : auto;
    
    font-weight: 400;

    border-collapse: collapse;
    text-align: center;
    border-bottom: 0.8px solid rgb(231, 231, 231);
    
    transition: all 0.4s;
}

.notice_listRow:hover{
    height: 80px;
    background-color: #e3effe;
    
    border-collapse: collapse;
    letter-spacing: 0.8px;
    transform: scale(1.05);
}

.notice_listOnlyMobile{
    display: none;
}

/* NoticePost */
#overContainer{
    width : 95%;
    max-width: 1000px;
    margin : auto;
    margin-top: 150px;
    margin-bottom: 50px;

    font-weight: bold;
    font-size: 22px;
}

.sort{
    display: flex;
    justify-content: flex-start;
    color:#A5D1FC;
}

.information{
    display: flex;
    align-items: baseline;

    font-weight: 400;
}

#container{
    width : 95%;
    max-width: 1000px;
    min-height: 400px;
    margin : auto;
}

.postInformation{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;
}

.postInformationDiv{
    border-bottom: 2px solid rgb(231, 231, 231) ;
}

#underContainer{
    width : 95%;
    max-width: 1000px;
    min-height: 50px;
    margin : auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:700px) {
    .notice_table{
        border-top: 0.8px solid rgb(231, 231, 231);
    }

    #notice_th{
        display: none;
    }

    .notice_listRow{
        height: 80px;
    }

    .notice_listRow:hover{
        height: 90px;
    }

    .notice_listOnlyWeb{
        display: none;
    }

    .notice_listOnlyMobile{
        display: flex;
        justify-content: center;
        align-items: baseline;
        
        font-size: 0.9rem;
    }

    .notice_listTitle{
        font-size: 1.3rem;
        font-weight: 400;
    }

    .notice_listOnlyMobile div{
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width:599px) {
    /* 모바일 세로 */

    #overContainer{
        margin-top: 80px;
        font-size: 1rem;
    }
}